@{
    ViewBag.Title = "All About O'Neal!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I was born and raised in Columbus, OH to Jacqueline and O'Neal Saunders. From a young age I loved sports, I grew up playing soccer, basketball, football, and lacrosse.
    I am now a Senior studying Management Information Systems and Business Analytics at Ohio University. After graudation, I will be working full time at Ernst & Young in Columbus in the Risk Advisory Program.
    In my free time I like to travel, learn languages, and spend time with my friends and family.</p>
