@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Thank You Kobe.</h1>
    <p class="lead">Rest in peace to a childhood Idol. Someone I grew up watching. Someone who we would yell "KOBE" everytime we threw away a piece of paper. And someone I wore the number of, even though I played different games. RIP Kobe Bean.</p>
    <p><a href="https://www.nike.com/us/en_us/c/basketball/kobe-bryant" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Future Career</h2>
        <p>
            Ernst & Young Global Limited, commonly known as Ernst & Young or simply EY, is a multinational professional services firm headquartered in London, England, United Kingdom. EY is one of the largest professional services firms in the world.
        </p>
        <p><a class="btn btn-default" href="https://ey.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alpha Phi Alpha</h2>
        <p>Alpha Phi Alpha, Fraternity, Inc. is the first greek lettered organization established for African Americans on December 4th, 1906 at Cornell University in Ithaca, NY.</p>
        <p>
        @Html.ActionLink("Patients", "Index", "Patients")
        <br />
        @Html.ActionLink("Doctors", "Index", "Doctors")
        <br />
        @Html.ActionLink("Appointments", "Index", "Appointments")
        </p>
        <p><a class="btn btn-default" href="https://brothersofphi.com">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The 1st album I ever purchased</h2>
        <p>Kieth Cozart crafted one of the greatest albums in the drill music movement. I was lucky enough to be coming of age during this momentous time.</p>
        <p><a class="btn btn-default" href="https://open.spotify.com/album/6VML3yX1WR5pXtg6fmwdzZ">Listen here &raquo;</a></p>
    </div>
</div>